<template>
  <div class="md:mx-3">
    <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button" @click="onClick">
      {{label}}
    </button>
  </div>
</template>

<script>
export default {
  props: ['label'],
  methods: {
    onClick(e) {
      this.$emit('click', e);
    }
  },
}
</script>