<template>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
        {{label}}
      </label>
    </div>
    <div class="md:w-2/3">
      <input id="inline-full-name" v-model="text" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" :type="password ? 'password' : 'text'" :placeholder="placeholder" @input="updateText">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    label: String,
    placeholder: String,
    value: String,
    password: Boolean,
  },
  computed: {
    text: {
      get() {
        return this.value;
      },
      set(value) {
        return null;
      },
    }
  },
  methods: {
    updateText(e) {
      console.log('chamou', e.target.value);
      this.$emit('change', e.target.value);
    }
  },
}
</script>