<template>
  <form class="w-full max-w-sm m-auto h-screen flex flex-col justify-center">
    <FormField :value="email" label="Email" placeholder="Your email"  @change="setEmail"/>
    <FormField :value="username" label="Username" placeholder="Your username" @change="setUsername"/>
    <FormField :value="password" label="Password" placeholder="*******" password @change="setPassword"/>
    <div class="md:flex md:justify-end md:items-center">
      <Button label="Clear" @click="clearAll"/>
      <Button label="Sign-up" @click="submitSignUp"/>
    </div>
    <div class="md:flex md:justify-end md:items-center mt-3">
      <p>Already an user?&nbsp;</p> <router-link to='/sign-in'> Sign-in now!</router-link>
    </div>
  </form>
</template>

<script>
import { mapMutations, mapActions } from 'vuex';
export default {
  methods: {
    ...mapMutations(['setEmail','setPassword','setUsername','clearAll']),
    ...mapActions(['createUser']),
    isAlphaNumeric(text) {
      return !(text.match(/^[0-9A-Za-z]+$/) === null)
    },
    validEmail() {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(this.email).toLowerCase());
    },
    validUsername() {
      return this.isAlphaNumeric(this.username)
        && isNaN(this.username[0])
        && this.username.length > 0;
    },
    validPassword() {
      return this.isAlphaNumeric(this.password)
        && this.password.length >= 8
        && this.password.length <= 32;
    },
    validateFields() {
      if (!this.validEmail(this.email)) {
        throw new Error("Email is not valid");
      }

      if (!this.validUsername(this.username)) {
        throw new Error("Username is not valid");
      }

      if (!this.validPassword(this.password)) {
        throw new Error("Password is not valid");
      }
    },
    async submitSignUp() {
      try {
        this.validateFields();
        const token = await this.createUser();
        this.$router.push(`/users/${token.sub}`);
      } catch (err) {
        console.log(err);
        alert(err.message);
      }
    }
  },
  computed: {
    email() {
      return this.$store.state.email;
    },
    username() {
      return this.$store.state.username;
    },
    password() {
      return this.$store.state.password;
    }
  },
}
</script>