<template>
  <form class="w-full max-w-sm m-auto h-screen flex flex-col justify-center">
    <FormField :value="email" label="Email" placeholder="Your email"  @change="setEmail"/>
    <FormField :value="password" label="Password" placeholder="*******" password @change="setPassword"/>
    <div class="md:flex md:justify-end md:items-center">
      <Button label="Clear" @click="clearAll"/>
      <Button label="Sign-in" @click="submitSignIn"/>
    </div>
    <div class="md:flex md:justify-end md:items-center mt-3">
      <p>Not a user yet?&nbsp;</p> <router-link to='/sign-up'> Sign-up now!</router-link>
    </div>
  </form>
</template>

<script>
import { mapMutations, mapActions } from 'vuex';
export default {
  methods: {
    ...mapMutations(['setEmail','setPassword','clearAll']),
    ...mapActions(['getUserToken']),
    isAlphaNumeric(text) {
      return !(text.match(/^[0-9A-Za-z]+$/) === null)
    },
    validEmail() {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(this.email).toLowerCase());
    },
    validPassword() {
      return this.isAlphaNumeric(this.password)
        && this.password.length >= 8
        && this.password.length <= 32;
    },
    validateFields() {
      if (!this.validEmail(this.email)) {
        throw new Error("Email is not valid");
      }

      if (!this.validPassword(this.password)) {
        throw new Error("Password is not valid");
      }
    },
    async submitSignIn() {
      try {
        this.validateFields();
        const token = await this.getUserToken();
        this.$router.push(`/users/${token.sub}`);
      } catch (err) {
        console.log(err);
        alert(err.message);
      }
    }
  },
  computed: {
    email() {
      return this.$store.state.email;
    },
    password() {
      return this.$store.state.password;
    },
  },
}
</script>