<template>
  <div class="w-full max-w-sm m-auto h-screen flex flex-col justify-center">
    <div class="flex justify-center items-center">
      <img class="h-48 w-48 mr-10" src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Round&hairColor=BlondeGolden&facialHairType=MoustacheMagnum&facialHairColor=Auburn&clotheType=ShirtVNeck&clotheColor=Gray01&eyeType=Squint&eyebrowType=UpDownNatural&mouthType=Concerned&skinColor=Brown'/>
      <div>
        <p class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4">Email: {{email}}</p><br>
        <p class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4">Username: {{username}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
  middleware({ store, redirect }) {
    if (!store.state.token) {
      redirect('/sign-in');
    }
  },
  created() {
    this.fetchData();
  },
  methods: {
    ...mapMutations(['setEmail', 'setUsername']),
    async fetchData() {
      try {
        const {email, username} = await this.$axios.$get(`/600/users/${this.id}`, { headers: { 'Authorization': `Bearer ${this.token}`} } );
        this.setEmail(email);
        this.setUsername(username);
      } catch (err) {
        console.log(err);
        alert(err.message);
        this.$router.push(`/sign-in`);
      }
    },
  },
  computed: {
    email() {
      return this.$store.state.email;
    },
    username() {
      return this.$store.state.username;
    },
    token() {
      return this.$store.state.token;
    },
    id() {
      return this.$route.params.id;
    }
  },
}
</script>